.header-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 700px;
}


.header-container-text {
    font-family: "Merienda", cursive;
    font-size: 70px;
    width: 650px;
    text-align: center;
    color: #ffffff;
}

.text-dark .button-dark{
    color: #000;
}

.header-container__button-shop {
    font-family: 'Manrope' sans-serif;
    font-size: 15px;
    font-weight: 600;
    background: #ffffff;
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

